/*
 * PiLanshare WebUI
 * https://github.com/GramThanos/PiLanshare
 *
 * WebUI CSS
 */

body {
	font-family: 'Quicksand', sans-serif;
}

.card {
	margin: 20px 0 0 0;
}

.nav-tabs {
	margin-bottom: 20px;
}

.footer {
	font-size: 0.8em;
	padding: 20px 0;
}

@media (max-width: 575px) {
	.footer .col {
		text-align: center!important;
	}
}

.login .login-form {
	padding-top: 20px;
	padding-bottom: 20px;
}

.login .bg-logo {
	background-repeat: no-repeat;
	background-position: center 30px;
	background-image: url('../images/logo-128.png');
	opacity: 0.2;
}

.login .btn {
	float: right;
}

.login .alert {
	margin-top: 15px;
}
